language: csharp
solution: Bearded.Utilities.sln
install:
  - nuget restore Bearded.Utilities.sln
  - nuget install xunit.runner.console -Version 2.1.0 -OutputDirectory testrunner
script:
  - xbuild /p:Configuration=Release Bearded.Utilities.sln
  - mono ./testrunner/xunit.runner.console.2.1.0/tools/xunit.console.exe ./tests/bin/Release/Bearded.Utilities.Tests.dll
